body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
/**/
.button.success {
    color: #fff;
}
/**/
.menu {
    align-items: center;
}

.header-logo {
    max-height: 40px;
}

/**/
.media-object {
    flex-wrap: wrap;
}

.media-object + .media-object {
    border-top: 1px solid #cacaca;
    padding-top: 1rem;
}

.media-object:last-of-type {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 1rem;
}

.media-object .media-object-section {
    width: 100%;
}

.media-object img {
    max-width: 100%;
}
/**/
.card {
    background-color: #e6e6e6;
}

.card-section {
    padding: 0.5rem;
}
/**/
.search-section {
    padding-right: 40px;
    position: relative;
    width: 100%;
}

.search-btn {
    border-radius: 0 3px 3px 0 ;
    height: 39px;
    position: absolute;
    top: 0;
    right: 0;
}
/**/
.admin-sidebar li:not(.accordion-item) a:before {
    display: none;
}

.admin-sidebar li > a {
    color: #000;
}

.admin-sidebar li > a i {
    margin-right: 0.5rem;
}